 <div class="container">
  <div class="container text-center">
    <div class="title">
    <h1>Welcome</h1>
    </div>
    <p>Welcome to PATATAXI your number one tranport solution.  
    You wil be able to book rides form our qualified drivers.<br>
    Get the best prices to ypour location</p>
    <a href="/login" class="btn btn-secondary">Login</a>
    <a href="users/new" class="btn btn-secondary">Signup</a>
  </div>
  <br>
  <br>
  <hr>
  <div class="row">
    <div class="col-sm-6">
        <div class="card" style = "border:none">
        <div class="card-body">
            <h5 class="card-title">Get affordable rides to anywhere</h5>
            <p class="card-text">With <strong >PATATAXI</strong> you are able to hail affordable rides from competent drivers to your destination
            we gurantee a reliable and enjoyable service</p>
            <a href="#" class="btn btn-primary">Book a ride</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style = "border:none">
        <div class="card-body">
            <h5 class="card-title">Become a driver</h5>
            <p class="card-text">In need of a stisfying and well paying job. Register with us as a driver and earn money offering transport services to our esteemed customers</p>
            <a href="#" class="btn btn-primary">Become  A driver</a>
        </div>
        </div>
    </div>
    </div>
 </div>